[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pim"]
	path = pim
	url = https://github.com/centerforstatistics-ugent/pim
[submodule "xnet"]
	path = xnet
	url = https://github.com/centerforstatistics-ugent/xnet
