[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pim"]
	path = pim
	url = https://github.com/centerforstatistics-ugent/pim
	shallow = true
	registered = true
[submodule "xnet"]
	path = xnet
	url = https://github.com/centerforstatistics-ugent/xnet
	shallow = true
	registered = true
[submodule "RCM"]
	path = RCM
	url = https://github.com/centerforstatistics-ugent/rcm
	shallow = true
	registered = true
